<div class="row">
	<form>
		<div class="form-group">
			<label for="us-nome">Nome:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="us-email">E-Mail:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="us-sb-nm">Usuario:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="us-sn">Senha:</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="us-cnf-sn">Confirma senha:</label>
			<input type="text" class="form-control">
		</div>
	</form>
</div>